:root {
  --primary-bg-color: #dfecf4;
  --primary-shadow-dark: #c0d4e0;
  --primary-shadow-light: #ffffff;

  --bg-color: #e0e0e0;

  /* --shadow-dark: #bebebe; */
  /* --shadow-light: #ffffff; */
}

.neumorphic {
  background: var(--bg-color);
  box-shadow: 8px 8px 16px var(--shadow-dark),
    -8px -8px 16px var(--shadow-light);
  border-radius: 16px;
}
